<a href="https://colab.research.google.com/github/Harry262000/Daily-Tasks/blob/main/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pylab import *

In [28]:
df = pd.read_csv("https://raw.githubusercontent.com/Harry262000/Projects/main/Diamonds%20Prices2022.csv",skiprows=1,header=None, names=['SR.NO','Carat','Cut','Color','Clarity','Depth','Table','Price','x','y','z']) 
df.head()

   SR.NO  Carat      Cut Color Clarity  Depth  Table  Price     x     y     z
0      1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1      2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2      3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3      4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4      5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [29]:
df.head(10)

,SR.NO,Carat,Cut,Color,Clarity,Depth,Table,Price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
5,6,0.24,Very Good,J,VVS2,62.8,57.0,336,3.94,3.96,2.48
6,7,0.24,Very Good,I,VVS1,62.3,57.0,336,3.95,3.98,2.47
7,8,0.26,Very Good,H,SI1,61.9,55.0,337,4.07,4.11,2.53
8,9,0.22,Fair,E,VS2,65.1,61.0,337,3.87,3.78,2.49
9,10,0.23,Very Good,H,VS1,59.4,61.0,338,4.00,4.05,2.39

In [30]:
df.tail(10)

,SR.NO,Carat,Cut,Color,Clarity,Depth,Table,Price,x,y,z
53933,53934,0.70,Very Good,E,VS2,61.2,59.0,2757,5.69,5.72,3.49
53934,53935,0.72,Premium,D,SI1,62.7,59.0,2757,5.69,5.73,3.58
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64
53940,53941,0.71,Premium,E,SI1,60.5,55.0,2756,5.79,5.74,3.49
53941,53942,0.71,Premium,F,SI1,59.8,62.0,2756,5.74,5.73,3.43
53942,53943,0.70,Very Good,E,VS2,60.5,59.0,2757,5.71,5.76,3.47